<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARCAQUI</title>
    <link rel="stylesheet" href="./Logo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Baloo+Bhai+2:wght@400..800&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,700;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div>
            <div class="img">
                <img src="../img/LOGO CF (3) 1.svg" alt="">
            </div>
            <div class="texts">
                <h1>MARCAQUI</h1>
                <p>CARTÃO FIDELIDADE</p>
            </div>
        </div>
    </main>

</body>

</html>