* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-size: cover;
    background: url('../img/cartao-fidelidade.webp') no-repeat center center fixed;
  }
  
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 0;
  }
  
  .formulario {
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 5rem auto;
    padding: 2.5rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-img {
    max-width: 220px;
    margin-bottom: 1.5rem;
    filter: drop-shadow(2px 2px 4px #000);
  }
  
  .formulario input {
    width: 100%;
    background-color: rgba(96, 88, 88, 0.1);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in-out;
  }
  
  .formulario input:focus {
    background-color: rgba(76, 72, 72, 0.2);
    border-color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: white;
  }
  
  label {
    color: white;
  }
  
  .semConta {
    margin-top: 1rem;
    text-align: center;
    color: white;
  }
  
  .semConta a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .btn {
    width: 100%;
    height: 2.5rem;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 0.625rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 1rem;
    transition: color 0.4s ease;
  }
  
  .btn:hover {
    color: black;
  }
  
  .btn::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s ease;
  }
  
  .btn:hover::after {
    transform: skewX(-45deg) scale(1, 1);
  }
  
  @media (max-width: 768px) {
    .formulario {
      width: 90%;
      padding: 2rem;
    }
  
    .logo-img {
      max-width: 180px;
    }
  }
  
  @media (max-width: 480px) {
    .formulario {
      padding: 1.5rem;
    }
  
    .btn {
      font-size: 0.9rem;
    }
  }